* {
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100vw;
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 100%, 74%);
    background-image: url("../images/bg-intro-mobile.png");
    font-size: 16px;
    color: white;
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
}

h1 {
    font-size: 28px;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 30px;
    margin-right: 20px;
}

p {
    line-height: 1.8;

}

.content-container {
    width: 90%;
    margin: auto;
}

.main-text {
    margin-bottom: 70px;
    max-width: 95%;
}

.accent {
    background: hsl(248, 32%, 49%);
    padding: 20px 10px 15px;
    margin-bottom: 25px;
}

form {
    background: white;
    padding: 8px 24px 24px;
    margin-bottom: 50px;
}

.accent,
form {
    border-radius: 10px;
    -webkit-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 8px 0px 0px rgba(0,0,0,0.15);
}

input,
button {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    margin-top: 16px;
    font-weight: 600;
}

input:focus {
    outline-color: hsl(246, 25%, 60%);
}

.submitted input:invalid {
    border: 2px solid hsl(0, 100%, 74%);
    background: url("../images/icon-error.svg") no-repeat 95% 50%;
    background-size: 25px;
}

.submitted input:invalid:focus {
    outline-color: hsl(0, 100%, 74%);
}

.submitted input:invalid::placeholder {
    color: hsl(0, 100%, 74%);
}


.invalid-feedback {
    display: none;
}

.submitted input:invalid~.invalid-feedback {
    display: block;
    font-size: 12px;
    margin-top: 7px;
    text-align: right;
    width: 100%;
    color: hsl(0, 100%, 74%);
    font-style: italic;
}

input {
    border-color: hsl(246, 25%, 90%);
    border-width: 1px;
}

button {
    background-color: hsl(154, 59%, 51%);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(50,185,129,1);
    -moz-box-shadow: 0px 4px 0px 0px rgba(50,185,129,1);
    box-shadow: 0px 4px 0px 0px rgba(50,185,129,1);
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1.2px;
    outline: none;
    margin-bottom: 16px;
}

button:hover {
    opacity: 0.8;
}

form p {
    text-align: center;
    width: 80%;
    margin: auto;
    font-size: 11px;
    color: hsl(246, 25%, 77%);
}

form p a {
    color: hsl(0, 100%, 74%);
    font-weight: 700;
}

footer {
    display: block;
    position: relative;
    bottom: 5px;
    text-align: center;
}

footer p {
    margin: auto;
}

@media (min-width: 999px) {
    body {
        height: 100vh;
        overflow: hidden;
        padding: 0 80px;
        background-image: url("../images/bg-intro-desktop.png");
    }

    main {
        display: flex;
        flex-direction: row;
        justify-content: center;
        max-width: 1400px;
        margin: auto;
    }

    h1 {
        font-size: 52px;
    }

    .content-container {
        width: 50%;
        max-width: 540px;
        margin: auto;
    }

    .content-container:first-of-type {
        text-align: left;
    }

    form {
        padding: 20px 20px 40px;
        margin: auto;
    }

    input {
        padding-left: 30px;
        margin-top: 20px;
    }
}

@media (min-width: 1200px) {
    body {
        padding: 0 160px;
    }
}